{{#each sortedBroadcasts as |broadcast index|}}
  <tr class={{current-moment sortedBroadcasts index}}>
    <td>
      {{ui-rating
        initialRating=rating
        rating=rating
        maxRating=1
        onRate=(action (mut rating1))
      }}
    </td>
    <td>{{broadcast.startTime}}</td>
    <td>
      {{broadcast.broadcastName}}
      <span class="link-span" onclick={{action 'toggleModalWindow' broadcast.broadcastName broadcast.info}}>(Подробнее)</span>
    </td>
    <td>{{broadcast.id}}</td>
    <td>{{broadcast.programId}} {{#link-to "program" broadcast.id}}(Подробнее){{/link-to}}</td>
    <td>{{broadcast.channelId}}</td>
  </tr>
{{/each}}

{{modal-window}}


