{{#each sortedBroadcasts as |broadcast index|}}
  <tr class={{current-moment sortedBroadcasts index}}>
    <td>
      <div class='ui rating {{index}}' onclick={{action 'activeRating' index}}>
        {{ui-rating
          initialRating=rating
          rating=rating
          maxRating=1
          onRate=(action (mut index))
        }}
      </div>
    </td>
    <td>{{broadcast.startTime}}</td>
    <td>
      {{broadcast.broadcastName}}
      <span class="link-span" onclick={{action 'toggleModalWindow' broadcast.broadcastName broadcast.info}}>(Подробнее)</span>
    </td>
    <td>{{broadcast.programId}} {{#link-to "program" broadcast.channelId broadcast.programId}}(Подробнее){{/link-to}}</td>
    <td>{{broadcast.channelId}}</td>
  </tr>
{{/each}}

{{modal-window}}


