{{#each getProgramOfBroadcasts as |broadcast index|}}
  {{#each broadcast.collection as |broadcastBlock|}}
    <tr class={{broadcast-start-time getProgramOfBroadcasts broadcastBlock.startTime broadcastBlock.id index}}>
      <td>{{broadcastBlock.startTime}}</td>
      <td>{{ads-block broadcastBlock.id}}</td>
      <td>{{broadcast.endProgramTime}}</td>
      <td>{{broadcast.id}}</td>
    </tr>
  {{/each}}
{{/each}}
