{{#each sortedPrograms as |program programId|}}
<tr class={{first-program programId}}>
  <td>
    {{ui-rating
      initialRating=rating
      rating=rating
      maxRating=1
      onRate=(action (mut rating1))
    }}
  </td>
  <td>
    <h3><button {{action "toggleBody"}}>{{title}}</button></h3>

  </td>
  <td onclick={{action 'openModal' 'profile'}}>{{program.name}}</td>
</tr>

{{#ui-modal name="profile" class="profile"}}
  <i class="close icon"></i>
  <div class="header">
    {{program.name}}
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="http://semantic-ui.com/images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
{{/ui-modal}}

{{/each}}


