{{#each sortedPrograms as |program index|}}
  <tr class={{current-moment sortedPrograms index}}>
    <td>
      {{ui-rating
        initialRating=rating
        rating=rating
        maxRating=1
        onRate=(action (mut rating1))
      }}
    </td>
    <td>{{program.date}}</td>
    <td onclick={{action 'toggleModalWindow' program.name program.info}}>{{program.name}}</td>
    <td>{{program.id}}</td>
    <td>{{program.channelId}}</td>
  </tr>
{{/each}}

{{modal-window}}


