<h2>Route program</h2>
<h3>{{#link-to "index"}}Prev{{/link-to}}</h3>
<h1>oe {{model.data.name}}</h1>
<h1>broadcastId {{model.data.broadcastId}}</h1>
<h1>programId {{model.data.programId}}</h1>
<h1>channelId {{model.data.channelId}}</h1>
{{log model.data}}
{{outlet}}
